@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* *{outline: 1px solid grey;} */ 

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header-links {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    gap: 16px;
}