@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base Styles */
* {
    /*outline: 1px solid grey;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

body {
    height: 100vh;
    overflow-x: hidden;
    font-family: Roboto, sans-serif; 
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    color: #F9FAF8;
}

/* Header Section */
.header {
    background-color: #8F1402;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
}

.header p {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    gap: 24px;
    margin-right: 100px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    transition: color 0.3s;
}

/* Introduction Section */
.introduction {
    background-color: #8F1402;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.intro-text {  
    color: #F9FAF8;
    flex: 1;
}

.intro-text p {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}

.intro-secondary-text p {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.buttons button {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color:#F9FAF8;
    color:  #8F1402;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.intro-img {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.intro-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Contents section */
.contents, .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    padding: 50px;
}

.units {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}

.info {
    text-align: center;
    flex-basis: 20%;
    margin-bottom: 40px;
}

.info h4 {
    color: #1F2937;
    font-size: 18px;
    margin-top: 15px;
}

.info p {
    color: #1F2937;
    margin-top: 15px;
    line-height: 25px;
}

.info img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    color: #1F2937;
}

/* Quote Section */
.quote {
    background-color: #E5E7EB;
    padding: 64px 10%;
    display: flex;
    flex-direction: column;
}

.quote blockquote {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote p {
    margin: 0;
    padding-right: 50px;
    align-self: flex-end;
    font-weight: bold;
    color: #1F2937;
}

/* Sign Up Section */
.sign-up {
    margin: 64px 10%;
    padding: 32px 8%;
    background-color: #8F1402;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-text {
    color: #F9FAF8;
}

/* Footer Section */
.footer {
    background-color: #8F1402;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 100px;
    height: 60px;
}

.footer p {
    font-size: 18px;
}
